<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLySuaXe.Properties.Settings.QuanLySuaXeConnectionString"
            connectionString="Data Source=DESKTOP-DLOT65Q\SQLEXPRESS;Initial Catalog=QuanLySuaXe;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>